<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--       <a class="navbar-brand" href="#">BLOG</a> -->

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
	  	<li><a href="/" class="">HOME</a></li>
		<li><a href="/signup">Sign Up</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/blogs">Blog</a></li>
    <li><a href="/post">New Post</a></li>
		<li><a href="/social">Social</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/logout">Logout</a></li>
	  </ul>
	      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <% if(user.local) { %> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.username %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
          <% } %>
          <% if(!user.local) { %> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New Blogger? <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            </ul>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>