<!DOCTYPE html>
<html>
<head>
	<title>Charlie's Blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<h1> Login </h1>	
		<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<%- include ./partials/navBar.ejs %>
		<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<% if (message.length > 0) { %>
       <div class="alert alert-danger"><%= message %></div>
   	<% } %>
<!-- in the body we will have a form.  the rest of the page can be pasted in to match what is on the other ejs pages -->
<form action="/login" method="POST" class="form-inline" role="form">
	<legend></legend>

	<div class="form-group">
		<label class="sr-only" for="">Email</label>
		<input name='email' type="email" class="form-control" id="" placeholder="Email">
	</div>

	<div class="form-group">
		<label class="sr-only" for="">Password</label>
		<input name='password' type="password" class="form-control" id="" placeholder="Password">
	</div>
	

	<button type="submit" class="btn btn-primary">Login</button>
</form>

</body>
</html>